problema9/Connected Services/ServiceReference1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Listar">
        <s:complexType />
      </s:element>
      <s:element name="ListarResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListarResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mostra1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ci" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="mostra1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mostra1Result">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Alta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ci" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombres" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="paterno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="materno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fechaNacimiento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="genero" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telefono" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="celular" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="correo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rol" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="departamento" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AltaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AltaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Cambio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ci" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nombres" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="paterno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="materno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fechaNacimiento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="genero" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="direccion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="telefono" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="celular" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="correo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rol" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="departamento" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CambioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CambioResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Baja">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ci" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BajaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BajaResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ListarSoapIn">
    <wsdl:part name="parameters" element="tns:Listar" />
  </wsdl:message>
  <wsdl:message name="ListarSoapOut">
    <wsdl:part name="parameters" element="tns:ListarResponse" />
  </wsdl:message>
  <wsdl:message name="mostra1SoapIn">
    <wsdl:part name="parameters" element="tns:mostra1" />
  </wsdl:message>
  <wsdl:message name="mostra1SoapOut">
    <wsdl:part name="parameters" element="tns:mostra1Response" />
  </wsdl:message>
  <wsdl:message name="AltaSoapIn">
    <wsdl:part name="parameters" element="tns:Alta" />
  </wsdl:message>
  <wsdl:message name="AltaSoapOut">
    <wsdl:part name="parameters" element="tns:AltaResponse" />
  </wsdl:message>
  <wsdl:message name="CambioSoapIn">
    <wsdl:part name="parameters" element="tns:Cambio" />
  </wsdl:message>
  <wsdl:message name="CambioSoapOut">
    <wsdl:part name="parameters" element="tns:CambioResponse" />
  </wsdl:message>
  <wsdl:message name="BajaSoapIn">
    <wsdl:part name="parameters" element="tns:Baja" />
  </wsdl:message>
  <wsdl:message name="BajaSoapOut">
    <wsdl:part name="parameters" element="tns:BajaResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="Listar">
      <wsdl:input message="tns:ListarSoapIn" />
      <wsdl:output message="tns:ListarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="mostra1">
      <wsdl:input message="tns:mostra1SoapIn" />
      <wsdl:output message="tns:mostra1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Alta">
      <wsdl:input message="tns:AltaSoapIn" />
      <wsdl:output message="tns:AltaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Cambio">
      <wsdl:input message="tns:CambioSoapIn" />
      <wsdl:output message="tns:CambioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Baja">
      <wsdl:input message="tns:BajaSoapIn" />
      <wsdl:output message="tns:BajaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Listar">
      <soap:operation soapAction="http://tempuri.org/Listar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mostra1">
      <soap:operation soapAction="http://tempuri.org/mostra1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Alta">
      <soap:operation soapAction="http://tempuri.org/Alta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Cambio">
      <soap:operation soapAction="http://tempuri.org/Cambio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Baja">
      <soap:operation soapAction="http://tempuri.org/Baja" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Listar">
      <soap12:operation soapAction="http://tempuri.org/Listar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mostra1">
      <soap12:operation soapAction="http://tempuri.org/mostra1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Alta">
      <soap12:operation soapAction="http://tempuri.org/Alta" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Cambio">
      <soap12:operation soapAction="http://tempuri.org/Cambio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Baja">
      <soap12:operation soapAction="http://tempuri.org/Baja" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://localhost:51940/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://localhost:51940/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>